html,
body {
  height: 100%;
  margin: 0;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #bb94b7;
  color: white;
  padding: 1rem;
  width: 100%;
  margin-top: 25px;
}

.logo {
  width: 25px;
  height: auto;
  margin-right: 1rem;
  margin-left: 20px;
  margin-bottom: 1rem;
}

footer div {
  display: flex;
  justify-content: center;
}

.card-body button {
  background-color: #bb94b7;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.card-body button:hover {
  background-color: #a37f9a;
}

.card-body {
  text-align: center;
}

.card {
  margin: 15px;
}
