html,
body {
  height: 100%;
  margin: 0;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #858585;
  color: white;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
}

.logo {
  width: 25px;
  height: auto;
  margin-right: 1rem;
  margin-left: 20px;
  margin-bottom: 1rem;
}

footer div {
  display: flex;
  justify-content: center;
}
